.albums-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 690px;
    overflow-y: scroll;
}
.home-button{
    display: none;
}
@media (max-width: 430px) {
    .albums-container {
        height: 760px;
    }
    .home-button{
        display: block;
        background: none;
        border: none;
    }
    .home-icon{
        width: 30px;
    }
}
.album-info{
    font-weight: 100;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 300px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(250,250,250);
}

.album-info:hover{
    transition-duration: 0.2s;
    background-color:rgb(40,40,40);
    border-radius: 10px ;
}

.album-cover{
    height: 200px;
    border-radius: 15px ;
    margin-bottom: 5px;
}

.NavLink{
    text-decoration: none;
    height: 300px;
}
.album-name{
    font-family: SpotifyMix-Medium;
    font-size: 15px;
}

.artist-name{
    font-family: SpotifyMix-Light;
    font-weight: 100;
    font-size: 13px;
}

@media (max-width: 430px) {
    .album-info{
        width: 160px;
        height: 190px;
        font-size: 9px;
        line-height: 20px;
    }
    .album-cover{
        height: 130px;
    }
    .album-name{
        font-size: 13px;
    }
    .artist-name{
        font-size: 11px;
    }
    .NavLink{
        width: 160px;
        height: 190px;
    }
}