*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  height: 100%;
  width: 100%;
  background: rgb(12,13,15);
}

body{
  background: rgb(12,13,15);
  overflow: hidden;

}

.Library{
  display: flex;
  height: 900px;
}

.categories-container{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}
.albums-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 690px;
  overflow-y: scroll;
}

.profile-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


.album-info{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 300px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: rgb(250,250,250);
}

.album-info:hover{
  transition-duration: 0.2s;
  background-color:rgb(40,40,40);
  border-radius: 10px ;
}

.album-cover{
  height: 200px;
  border-radius: 15px ;
  margin-bottom: 5px;
}


.albumPage-header-container{
  display: flex;
  color: rgb(255,255,255);
  width: 100%;
  height: 270px;
  background: rgb(12,13,15);
}

.albumPage-header-img{
  width: 230px;
  height: 230px;
  transition-duration: 0.2s;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
}

.albumPage-header-img-container{
  width: 251px;
  height: 251px;
}

.albumPage-header-img:hover{
  width: 235px;
  height: 235px;
  transition-duration: 0.2s;
}

.albumPage-header-info-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-left: 40px;
}

.albumPage-album-name-font{
  font-weight: 900;
  font-size: 80px;
}

.albumPage-artist-container{
  display: flex;
  gap: 5px;
}

.albumPage-track-info{
  color: rgb(190,190,190);
}

.track-item{
  width: 97%;
  height: 55px;
  color: rgb(255,255,255);
  display: flex;
}

.track-item:hover{
  background-color: rgb(40,40,40);
  transition-duration: 0.2s;
}

.albumPage-content-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 30px;
  padding-left: 40px;
}

.track-artists{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: rgb(150,150,150);
  width: 50%;
  margin-right: 700px;
}

.track-duration{
  margin-right: 40px;
  display: flex;
  align-items: center;
  height: 55px;
  color: rgb(190,190,190);
}

.track-name{
  width: fit-content;
  color: rgb(255,255,255);
}

.artists-container{
  display: flex;
  gap: 5px;
}

.track-number{
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: rgb(190,190,190);
}
.artist-cover{
  height: 200px;
  border-radius: 50% ;
  margin-bottom: 5px;
}

.artist-info{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 270px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: rgb(250,250,250);
}

.artist-info:hover{
  transition-duration: 0.2s;
  background-color:rgb(40,40,40);
  border-radius: 10px ;
}

.artistPage-header-img{
  width: 230px;
  height: 230px;
  transition-duration: 0.2s;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
}

.section-naming{
  color: white;
  font-size: 30px;
  margin-left: 20px;
}

.add-to-favourite-button{
  background: none;
  border: none;
  margin-right: 15px;
}

.add-to-favourite-button:hover{
}